<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotDiscover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to SpotDiscover your daily playlist generator</h1>
        <p>To get started, click the button below to authorize your Spotify account:</p>
        <a href="/login"><button>Authorize</button></a>
    </div>
</body>
</html>
